In [4]:
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=24bd5d9ddbfb79019b84de48f0929de2482d9cd41f838b675536169f7ab7f824
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Using cached py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=7c559d28f1412a7e847d5db6fdc723b35d3d2bd854fc72508eafc852a6e9ccc6
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [3]:
dataset = spark.read.csv("./Ecommerce_Customers.csv", inferSchema = True, header = True)

DataFrame[Email: string, Address: string, Avg Session Length: double, Time on App: double, Time on Website: double, Length of Membership: double, Yearly Amount Spent: double]

In [5]:
dataset.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avg Session Length: double (nullable = true)
 |-- Time on App: double (nullable = true)
 |-- Time on Website: double (nullable = true)
 |-- Length of Membership: double (nullable = true)
 |-- Yearly Amount Spent: double (nullable = true)

In [7]:
dataset.show(5)

+--------------------+--------------------+------------------+-----------+---------------+--------------------+-------------------+
|               Email|             Address|Avg Session Length|Time on App|Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+------------------+-----------+---------------+--------------------+-------------------+
|mstephenson@ferna...|835 Frank TunnelW...|       34.49726773|12.65565115|    39.57766802|         4.082620633|         587.951054|
|   hduke@hotmail.com|4547 Archer Commo...|       31.92627203|11.10946073|    37.26895887|         2.664034182|        392.2049334|
|    pallen@yahoo.com|24645 Valerie Uni...|       33.00091476|11.33027806|    37.11059744|         4.104543202|        487.5475049|
|riverarebecca@gma...|1414 David Throug...|       34.30555663|13.71751367|    36.72128268|         3.120178783|         581.852344|
|mstephens@davidso...|14023 Rodriguez P...|       33.33067252|12.79518855|     37.5366533|         4.446308318|         599.406092|
+--------------------+--------------------+------------------+-----------+---------------+--------------------+-------------------+
only showing top 5 rows

In [11]:
dataset.count()

500

In [13]:
dataset.limit(5).toPandas()

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",33.330673,12.795189,37.536653,4.446308,599.406092

In [16]:
ds = dataset.select("Email", "Address")
ds.limit(10).toPandas()

,Email,Address
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605"
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576"
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ..."
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220"
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372..."
5,alvareznancy@lucas.biz,"645 Martha Park Apt. 611Jeffreychester, MN 672..."
6,katherine20@yahoo.com,"68388 Reyes Lights Suite 692Josephbury, WV 922..."
7,awatkins@yahoo.com,Unit 6538 Box 8980DPO AP 09026-4941
8,vchurch@walter-martinez.com,"860 Lee KeyWest Debra, SD 97450-0495"
9,bonnie69@lin.biz,"PSC 2734, Box 5255APO AA 98456-7482"

In [19]:
# Arraged according to Amount Spent
dataset.orderBy('Yearly Amount Spent', ascending=False).limit(5).toPandas()

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,kyang@diaz.org,"223 Love Trail Suite 831Port Jeffrey, IN 46849",34.374258,15.126994,37.157624,5.377594,765.518462
1,asilva@yahoo.com,USNV JohnsonFPO AP 19026,34.603311,12.207298,33.913847,6.922689,744.221867
2,william82@gmail.com,"11143 Park SquaresSamanthatown, UT 97073",33.256335,13.858062,37.780265,5.976768,725.584814
3,jeffrey54@mcdonald-williams.com,"297 Francis ValleySouth Lindsey, NY 13669-5367",34.967610,13.919494,37.952013,5.066697,712.396327
4,rhonda01@gmail.com,"939 Watson RunStaceyberg, VT 58376-0454",34.385820,12.729720,36.232110,5.705941,708.935185

In [22]:
# Arraged according to Length of membership
dataset.orderBy('Length of Membership', ascending=False).limit(5).toPandas()

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,asilva@yahoo.com,USNV JohnsonFPO AP 19026,34.603311,12.207298,33.913847,6.922689,744.221867
1,alicia85@lee.com,"14220 Carla Flat Suite 521Lake Matthew, DE 06183",32.887105,12.387184,37.431159,6.401229,684.163431
2,waltonkaren@gmail.com,"355 Villegas Isle Apt. 070West Jenniferview, N...",35.742670,10.889828,35.565436,6.115199,669.987141
3,ebrown@osborne.com,"4291 Nichols Fork Apt. 562Thomaschester, SC 08...",31.945396,12.965761,36.966389,6.076654,657.019924
4,william82@gmail.com,"11143 Park SquaresSamanthatown, UT 97073",33.256335,13.858062,37.780265,5.976768,725.584814

In [24]:
dataset.describe('Email', 'Address').show()

+-------+-----------------+--------------------+
|summary|            Email|             Address|
+-------+-----------------+--------------------+
|  count|              500|                 500|
|   mean|             null|                null|
| stddev|             null|                null|
|    min|aaron04@yahoo.com|0001 Mack MillNor...|
|    max|zscott@wright.com|Unit 7502 Box 834...|
+-------+-----------------+--------------------+

In [26]:
dataset.agg({'Length of Membership':'mean'}).show()

+-------------------------+
|avg(Length of Membership)|
+-------------------------+
|       3.5334615559300007|
+-------------------------+

In [28]:
dataset.agg({'Yearly Amount Spent':'mean'}).show()

+------------------------+
|avg(Yearly Amount Spent)|
+------------------------+
|       499.3140382608002|
+------------------------+

In [31]:
dataset.summary().toPandas()

,summary,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,count,500,500,500,500,500,500,500
1,mean,None,None,33.05319351824,12.052487936928012,37.060445421080004,3.5334615559300007,499.3140382608002
2,stddev,None,None,0.9925631111602911,0.9942156084624618,1.0104889068105993,0.9992775024367542,79.31478155115914
3,min,aaron04@yahoo.com,"0001 Mack MillNorth Jennifer, NE 42021-5936",29.53242897,8.508152176,33.91384725,0.26990109,256.6705823
4,25%,None,None,32.33889932,11.38677555,36.33952101,2.926940235,444.9665517
5,50%,None,None,33.07871721,11.98204499,37.06708997,3.53286158,498.6355985
6,75%,None,None,33.71065306,12.75207661,37.71598618,4.125584363,549.1315733
7,max,zscott@wright.com,Unit 7502 Box 8345DPO AE 53747,36.13966249,15.12699429,40.00518164,6.922689335,765.5184619

In [34]:
#Linear Regression on the data to predict the yearly amount spent

from pyspark.ml.regression import LinearRegression

from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

featureassembler=VectorAssembler(inputCols=["Avg Session Length","Time on App","Time on Website","Length of Membership"],outputCol="Independent Features")

output=featureassembler.transform(dataset)

output.toPandas()

,Email,Address,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Independent Features
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",34.497268,12.655651,39.577668,4.082621,587.951054,"[34.49726773, 12.65565115, 39.57766802, 4.0826..."
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",31.926272,11.109461,37.268959,2.664034,392.204933,"[31.92627203, 11.10946073, 37.26895887, 2.6640..."
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",33.000915,11.330278,37.110597,4.104543,487.547505,"[33.00091476, 11.33027806, 37.11059744, 4.1045..."
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",34.305557,13.717514,36.721283,3.120179,581.852344,"[34.30555663, 13.71751367, 36.72128268, 3.1201..."
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",33.330673,12.795189,37.536653,4.446308,599.406092,"[33.33067252, 12.79518855, 37.5366533, 4.44630..."
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872Lake Jamiefurt, U...",33.237660,13.566160,36.417985,3.746573,573.847438,"[33.23765998, 13.56615961, 36.4179848, 3.74657..."
496,katrina56@gmail.com,"172 Owen Divide Suite 497West Richard, CA 19320",34.702529,11.695736,37.190268,3.576526,529.049004,"[34.70252897, 11.69573629, 37.19026771, 3.5765..."
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633South Chadburgh, TN...",32.646777,11.499409,38.332576,4.958264,551.620146,"[32.64677668, 11.49940906, 38.33257633, 4.9582..."
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808Brendachester, TX 0...",33.322501,12.391423,36.840086,2.336485,456.469510,"[33.32250105, 12.39142299, 36.84008573, 2.3364..."
499,hannahwilson@davidson.com,"49791 Rachel Heights Apt. 898East Drewborough,...",33.715981,12.418808,35.771016,2.735160,497.778642,"[33.71598092, 12.41880832, 35.77101619, 2.7351..."

In [35]:
output.select("Independent Features").show()

+--------------------+
|Independent Features|
+--------------------+
|[34.49726773,12.6...|
|[31.92627203,11.1...|
|[33.00091476,11.3...|
|[34.30555663,13.7...|
|[33.33067252,12.7...|
|[33.87103788,12.0...|
|[32.0215955,11.36...|
|[32.73914294,12.3...|
|[33.9877729,13.38...|
|[31.93654862,11.8...|
|[33.99257277,13.3...|
|[33.87936082,11.5...|
|[29.53242897,10.9...|
|[33.19033404,12.9...|
|[32.38797585,13.1...|
|[30.73772037,12.6...|
|[32.1253869,11.73...|
|[32.33889932,12.0...|
|[32.18781205,14.7...|
|[32.61785606,13.9...|
+--------------------+
only showing top 20 rows

In [36]:
output.columns

['Email',
 'Address',
 'Avg Session Length',
 'Time on App',
 'Time on Website',
 'Length of Membership',
 'Yearly Amount Spent',
 'Independent Features']

In [37]:
finalized_data=output.select("Independent Features","Yearly Amount Spent")
finalized_data.toPandas()

                                  Independent Features  Yearly Amount Spent
0    [34.49726773, 12.65565115, 39.57766802, 4.0826...           587.951054
1    [31.92627203, 11.10946073, 37.26895887, 2.6640...           392.204933
2    [33.00091476, 11.33027806, 37.11059744, 4.1045...           487.547505
3    [34.30555663, 13.71751367, 36.72128268, 3.1201...           581.852344
4    [33.33067252, 12.79518855, 37.5366533, 4.44630...           599.406092
..                                                 ...                  ...
495  [33.23765998, 13.56615961, 36.4179848, 3.74657...           573.847438
496  [34.70252897, 11.69573629, 37.19026771, 3.5765...           529.049004
497  [32.64677668, 11.49940906, 38.33257633, 4.9582...           551.620146
498  [33.32250105, 12.39142299, 36.84008573, 2.3364...           456.469510
499  [33.71598092, 12.41880832, 35.77101619, 2.7351...           497.778642

[500 rows x 2 columns]

In [38]:
train_data,test_data=finalized_data.randomSplit([0.75,0.25])

regressor=LinearRegression(featuresCol='Independent Features', labelCol='Yearly Amount Spent')
regressor=regressor.fit(train_data)

In [39]:
regressor.coefficients

DenseVector([25.392, 38.7248, 0.7525, 61.4132])

In [40]:
regressor.intercept

-1051.2652677033134

In [43]:
pred_results=regressor.evaluate(test_data)
pred_results.predictions.show(40)

+--------------------+-------------------+------------------+
|Independent Features|Yearly Amount Spent|        prediction|
+--------------------+-------------------+------------------+
|[30.4925367,11.56...|        282.4712457|288.83874107550787|
|[30.81620065,11.8...|        266.0863409|284.55866520718314|
|[31.06132516,12.3...|        487.5554581| 494.3467668152575|
|[31.06621816,11.7...|        448.9332932|462.67857988753303|
|[31.12397435,12.3...|        486.9470538| 508.8848682244775|
|[31.1695068,13.97...|        427.3565308| 418.4156791402286|
|[31.28344748,12.7...|        591.7810894| 570.0304176841646|
|[31.38958548,10.9...|        410.0696111|410.75851706740673|
|[31.44597248,12.8...|        484.8769649| 483.2298962693503|
|[31.44744649,10.1...|        418.6027421|427.34903997254264|
|[31.80930032,11.6...|        536.7718994| 548.2413565962729|
|[31.82797906,12.4...|        440.0027475|450.32166635958265|
|[31.85125313,12.4...|        472.9922467|465.19861265726286|
|[31.92627203,11.1...|        392.2049334| 381.2720607204524|
|[31.93654862,11.8...|        427.1993849|441.81566136849756|
|[31.95490386,10.9...|        439.9978799| 432.5449080811518|
|[31.95630056,12.8...|        547.1259317| 565.5063717473984|
|[32.00850452,12.0...|         443.197221|  452.511303805607|
|[32.0215955,11.36...|        521.5721748| 517.3151119954227|
|[32.03054972,12.6...|        594.2744834| 589.7033662372978|
|[32.0609144,12.62...|        627.6033187| 610.8782336829247|
|[32.07894758,12.7...|        357.8637186| 353.5489123399743|
|[32.09610899,10.8...|        375.3984554|376.05014519637734|
|[32.11511907,11.9...|        350.0582002|343.99383476573666|
|[32.1223648,11.43...|        528.9336186| 532.5134029658259|
|[32.1253869,11.73...|        457.8476959| 437.7137388161884|
|[32.17550124,13.3...|        588.7126055| 577.7462657923011|
|[32.18781205,14.7...|        452.3156755|457.81658955834087|
|[32.21552742,12.2...|         438.417742|446.40155296082844|
|[32.25997327,14.1...|        571.2160048| 574.0764187580139|
|[32.27459383,12.9...|        533.0400602| 524.4597017185486|
|[32.30274837,12.8...|        576.0252441|  577.253035327589|
|[32.33889932,12.0...|        407.7045475|412.64895715682064|
|[32.37798966,11.9...|        408.2169018| 436.2557717246507|
|[32.42330473,13.0...|        503.2173931| 512.9027433637189|
|[32.43977025,12.4...|        573.3062223| 585.0509095346581|
|[32.46121245,13.2...|        543.3401663| 554.4912705802756|
|[32.48426048,10.9...|         425.745092|424.75400260720426|
|[32.49541877,12.9...|        368.6547849| 378.5996621689105|
|[32.49719846,12.8...|         493.719193|481.74369818687296|
+--------------------+-------------------+------------------+
only showing top 40 rows